*{
    padding: 0;
    margin: 0;
}
.top{
    color: violet;
    border-top: none;
    border-style: dotted;
    border-width: 10px;
}
.intro{
    text-align: center;
    color: rgb(159, 88, 224);
    text-align: center;
    font-family:cursive;
    margin-top: 60px;
    line-height: 2;
    font-size: 30px;
}
.msg{
    height:400px;
    margin: auto;
}
.ms-b{
    height: 20%;
    position: absolute;
    top: 390px;
    left: 1100px;
}
.ms-t{
    display: inline;
    height:30%;
    position: absolute;
    bottom: 290px;
    left: 90px;
}
.pro{
    display: inline;
    margin: 10px;
    line-height: 2;
    text-align: center;
    margin-bottom: 100px;
}
.myimg{
    border-radius: 100%;
    margin-top: 70px;
    height: 200px;
}
.nft-t{
    height: 140px;
    position: absolute;
    top: 800px;
    left: 100px;
}
.nft-b{
    height: 5%;
    position: absolute;
    top:900px;
    right: 200px;
}
hr{
    margin: 50px auto 50px auto;   
    width: 100px;
    color: grey;
    border-style: dotted;
    border-bottom: none;
    border-width: 10px;
    margin-bottom: 100px;
}
.skills{
    text-align: center;
    align-content: center;
    margin: 100px;
}
#coding{
    border-radius: 100%;
    border:dashed blue;
    height: 200px;
    
}
.f_skill{
    text-align: center;
    align-items: center;
}
.s_skill{
    text-align: center;
    align-items: center;
}
.bit{
    border-radius: 100%;
    border:dashed blue;
    height: 350px   ;

}
.flotter{
    line-height: 2;
    text-align: center;
    color: white;
    background-color: rgb(179, 133, 222);
    height: 100px;
    margin: 0px;
    padding: 0px;
}
.youtube{

    text-decoration: none;
    color: rgb(242, 12, 246);
    position: relative;
    top: 30px;
    left: 300px;
    line-height: 2;
}
.youtube:hover{
    margin-top: 10px;
    color: rgb(0, 0, 0);
}
.about{
    position: relative;
    top: 10px;
}
.contact{
    
    color: rgb(242, 12, 246);
    position: relative;
    top: 30px;
    line-height: 2;
    text-decoration: none;   
}
.insta{
    color: rgb(242, 12, 246);
    position: relative;
    right: 300px;
    top: 30px;
    line-height: 2;
    text-decoration: none;
}
